@model DDDIntro.Web.ViewModels.Country.CountryIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Name</th>
    </tr>

@foreach (var item in Model.Countries) {
    <tr>
        <td>
            @item.Name

            @using (Html.BeginForm("Delete", "Country", FormMethod.Post)) {
                @Html.Hidden("Id", item.Id)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}

</table>
