<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="FluentAssertions" version="1.6.0" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="Machine.Specifications" version="0.5.3.0" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="System.Data.SQLite" version="1.0.79.0" />
</packages>