@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>Maintenance</h3>

<ul>
    <li>@Html.ActionLink("Countries", "Index", "Country")</li>
</ul>